<h1>Recent posts</h1>

<% @posts.each do |post| %>
    <div id="post">
      <h2><%= link_to post.title, post %></h2>
      <%= simple_format post.content %>
    </div>

    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>
